@model SalesWebMvc.Models.ViewModels.ErrorViewModel;
@{
	ViewData["Title"] = "Error";
}

<h2><span class="text-danger">@ViewData["Title"]</span></h2>
<h3 class="text-danger">@Model.Message</h3>

@if (Model.ShowRequestId)
{
    <p style="font-size:large">
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
